body {
    font-family: Charter, Times, sans-serif;
    background-color: ivory;
    color: cadetblue;
    font-weight: normal;
}

h1 {
    font-size: 24vw;
    padding: 0 0 0 1vw;
    margin: 0 0 -6vw 0;
    font-weight: normal;
    font-style: italic;
}

h2 {
    font-size: 16vw;
    padding: 0 0 0 2vw;
    margin: 0 0 -6vw 0;
    font-weight: normal;
}

h3 {
    font-size: 8vw;
    padding: 0 0 0 3vw;
    margin: 0 0 -3vw 0;
    font-weight: normal;
}

#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#game {
    display: grid;
    margin: 20vw 0 0 0;
    width: 78vw;
    align-self: top;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 48vw 26vw 26vw 26vw 10vw;
}

#header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#controls {
    padding: 2vw 0 0 1vw;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.square {
    margin: 1vw;
    background-color: darkkhaki;
    font-size: 19vw;
    color: salmon;
    padding: 0 0 0 5vw;
}

a:link, a:visited, a:hover, a:active {
    color: cadetblue;
    text-decoration: none;
    font-style: italic;
}