body {
    font-family: Charter, Times, sans-serif;
    background-color: ivory;
    color: cadetblue;
    font-weight: normal;
}

h1 {
    font-size: 24vw;
    padding: 0 0 0 1vw;
    margin: 0 0 -6vw 0;
    font-weight: normal;
    font-style: italic;
}

h2 {
    font-size: 16vw;
    padding: 0 0 0 2vw;
    margin: 0 0 -6vw 0;
    font-weight: normal;
}

h3 {
    font-size: 8vw;
    padding: 0 0 0 3vw;
    margin: 0 0 -3vw 0;
    font-weight: normal;
}

#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#game {
    display: grid;
    margin: 1vw 0 0 0;
    width: 78vw;
    align-self: top;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 48vw 26vw 26vw 26vw 10vw;
}

#header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#controls {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    padding: 2vw 0 0 1vw;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.square {
    margin: 1vw;
    background-color: darkkhaki;
    font-size: 19vw;
    color: salmon;
    padding: 0 0 0 5vw;
    font-weight: bold;
}

@keyframes texttransition {
    from {opacity: 0%;}
    to {opactiy: 100%;}
}

.play {
    animation: texttransition 5s;
}

a:link, a:visited, a:active {
    color: cadetblue;
    text-decoration: none;
    padding: 0 0 0 0;
    font-size: 4vw;
}

p {
    font-size: 4vw;
    text-align: right;
    margin: 1vw 3vw 1vw 0;
}

.btn {
    font-family: Charter;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.1em;
    background-color: ivory;
    color: cadetblue;
    border: 1px solid darkkhaki;
    width: 25vw;
    height: 5vw;
    font-size: 2vw;
}

.alt {
    color: salmon;
    font-weight: bold;
}

a:hover {
    color: salmon;
}

#buttons {
    margin: 1vw;
}

#text {
    margin: 0 0 0 2vw;
}

#display {
    margin: 3vw 3vw 0 0;
    letter-spacing: 0.2em;
    color: salmon;
    text-transform: uppercase;
    font-size: 5vw;
    text-align: center;
}